<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A  change</key>
	<string></string>
	<key>Testing</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>147947085523-s2n4mhf8jsqtc2v0rsfibp888ft8k5c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147947085523-s2n4mhf8jsqtc2v0rsfibp888ft8k5c1</string>
	<key>API_KEY</key>
	<string>AIzaSyD655XohcMY5rNlR_Yk2dqyP8SXGZuvGvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>147947085523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petersalmon.Later</string>
	<key>PROJECT_ID</key>
	<string>later-b3ead</string>
	<key>STORAGE_BUCKET</key>
	<string>later-b3ead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:147947085523:ios:fc54838a9bfe090953fe26</string>
</dict>
</plist>
